body {
    font-family: helvetica;
    display: flex;
    color: #000000;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #e5fce5;
    }

  
  h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;   
    margin-bottom: 20px;
    color: #333;
  }
  
  .image-container {
    border: 1px solid #000000;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
  }
  
  img {
    max-width: 100%;
    height: auto;
    align-items: center;
  }
  
  .buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }