<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storytelling - Fruit Identification Model</title>
    <link rel="stylesheet" type="text/css" href="static/css/storytelling.css">
    <link rel="icon" href="../static/img/Apple_emogi.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <div class="fixed-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Fruit Identification</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/endpoints_list">API Endpoints</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/storytelling">Storytelling</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/classification_results">Classification Results</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <main class="container mt-5">
        <h1 class="mb-4">Storytelling</h1>
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Capturing the Future of Supermarket Fruit Sales</h2>
                <p class="card-text">In a world where technology advances rapidly, supermarkets constantly seek ways to enhance customer experience and optimize their operations. Our fruit image detection project using a machine learning model aligns perfectly with these trends, offering innovative and effective solutions to current challenges.</p>
                <p class="card-text">Imagine a supermarket where customers no longer struggle to correctly identify fruits at self-service scales. Instead, they can use smart scales equipped with our model, which automatically recognizes each fruit, providing precise identification without errors. This small change not only reduces wait times but also minimizes the frustrations associated with incorrect identification.</p>
                <p class="card-text">For supermarkets, this system represents a significant improvement in current computerized processes. By eliminating classification errors, economic losses associated with incorrect product identification are reduced. This not only optimizes cash flow but also increases customer satisfaction as they receive faster and more efficient service.</p>
                <p class="card-text">Although we have not yet implemented all security measures, we are aware of the importance of addressing data privacy and security issues in the future. We are committed to developing and applying strict security and compliance measures to ensure that consumer data is handled ethically and securely. Transparency and trust will be fundamental pillars of our proposal.</p>
                <p class="card-text">The benefits of this technology are vast. Consumers enjoy a quick and hassle-free shopping experience, with access to always fresh products. Supermarkets, on the other hand, optimize their operations, reduce costs, and obtain valuable data on customer preferences and behaviors. This data allows for better inventory planning and more effective marketing strategies, benefiting both businesses and consumers.</p>
                <p class="card-text">In summary, the implementation of our fruit image detection model not only modernizes the shopping experience but also promises a future where efficiency and customer satisfaction are at the heart of supermarket operations. This is a step towards the evolution of retail, where technology and innovation come together to create an ideal shopping environment for all.</p>
            </div>
        </div>
    </main>


    <footer class="footer bg-light text-left text-lg-start mt-auto">
        <div class="container p-4">
            <p>Collaborators:</p>
            <ul>
                <li>David Tecuatl</li>
                <li>Hari Uriel Rivera Ulloa</li>
                <li>Jose Gilberto Nunez Beltran</li>
                <li>Priscila Matus Diaz</li>
                <li>Javier Alarcon</li>
            </ul>
            <p>
                <a href="https://github.com/Starkilled1/fruit-classification-project.git" target="_blank">
                    <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub"
                        width="30">
                    Source Code on GitHub
                </a>
            </p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>

</html>


